body {
    background-color: #E6E6FA;
    font-size: 20px;
}

img {
    height: 500px;
    width: auto;
}

ul {
    display: inline-block;
}

p,
ol {
    width: 600px;
    display: inline-block;
}

h1,
h3,
.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    text-align: center;
}

button {
    background-color: #616161;
    border: none;
    color: white;
    padding: 6px;
}

hr {
    background-color: black;
    height: 2px;
    width: 800px;
    border: none;
}